// 商品项模板1样式
.goods-item-1{
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 10rpx;
    border-radius: 6rpx;
    overflow: hidden;

    .goods-image{
        background-color: #ccc;
        width: 200rpx;
        height: 200rpx;
        flex-shrink: 0;
    }

    .goods-info{
        flex: 1;
        padding: 20rpx 30rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .goods-name{
            width: 100%;
            font-size: 26rpx;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .goods-price {
            font-size: 30rpx;
            font-weight: bold;
            color: #fd7304;

            .origin-price {
                color: #ccc;
                text-decoration: line-through;
                font-weight: normal;
                margin-left: 10rpx;
                font-size: 28rpx;
            }
        }
    }
}

// 商品项模板2样式
.goods-item-2{
    width: 338rpx;
    background-color: #fff;
    border-radius: 6rpx;
    overflow: hidden;
    margin-bottom: 10rpx;

    .goods-image{
        background-color: #ccc;
        width: 338rpx;
        height: 338rpx;
        flex-shrink: 0;
    }
    .goods-info{
        padding: 10rpx 20rpx 20rpx;
        .goods-name{
            width: 100%;
            font-size: 26rpx;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .goods-price {
            font-size: 30rpx;
            font-weight: bold;
            color: #fd7304;
            margin-top: 20rpx;

            .origin-price {
                color: #ccc;
                text-decoration: line-through;
                font-weight: normal;
                margin-left: 10rpx;
                font-size: 28rpx;
            }
        }
    }
}

// 地址项模板样式
.address-item{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 30rpx;
    border-radius: 6rpx;
    padding: 30rpx 20rpx;

    .user-info{
        font-size: 28rpx;
        font-weight: bold;
        display: flex;
        align-items: center;

        .name {
            display: inline-block;
            width: 180rpx;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 20rpx;
        }
        .phone {
            margin-right: 20rpx;
        }

        .label {
            display: inline-block;
            color: #fff;
            font-size: 20rpx;
            height: 30rpx;
            line-height: 30rpx;
            min-width: 50rpx;
            border-radius: 4rpx;
            text-align: center;
            margin-right: 20rpx;
        }
        .default-label {
            background-color: red;
        }

        .common-label {
            background-color: rgb(18, 102, 212);
        }
    }

    .address-info {
        display: flex;
        justify-content: space-between;
        margin-top: 20rpx;
        align-items: center;
        
        .address {
            font-size: 26rpx;
        }
        
        .edit-btn {
            width: 40rpx;
            height: 40rpx;
            margin-left: 40rpx;
            flex-shrink: 0;
        }
    }
}

// 订单项模板样式
.order-item {
    font-size: 26rpx;
    background-color: #fff;
    margin-bottom: 20rpx;
    padding: 20rpx;
    border-radius: 6rpx;

    .order-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20rpx;
        border-bottom: 1px solid #ccc;
    }

    .goods-list {
        margin-top: 20rpx;
        .goods-item {
            display: flex;
            font-size: 26rpx;
            margin-bottom: 20rpx;
        }
        .goods-image {
            width: 200rpx;
            height: 200rpx;
            background-color: #ccc;
            border-radius: 6rpx;
        }
        .goods-info {
            flex: 1;
            padding-left: 20rpx;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .goods-name {
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .goods-size-color {
            font-size: 24rpx;
        }
        .goods-price {
            font-size: 28rpx;
            font-weight: bold;
        }
        .goods-num {
            margin-left: 30rpx;
            font-size: 24rpx;
            font-weight: normal;
        }
    }

    .order-footer {
        border-top: 1px solid #ccc;
        .pay-info {
            text-align: right;
            padding-top: 20rpx;
        }
        .action-btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 10rpx;
        }
        .pay-amount{ 
            font-size: 34rpx;
        }
        .btn-item {
            height: 50rpx;
            line-height: 50rpx;
            border: 1px solid #000;
            border-radius: 25rpx;
            padding: 0 30rpx;
            margin-left: 20rpx;
        }
    }
}

// 购物车商品项1样式
.cart-item-1{
    background-color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 30rpx;
    border-radius: 6rpx;
    overflow: hidden;
    padding: 20rpx 0 20rpx 20rpx;

    .cart-checkbox {
        display: inline-block;
        width: 36rpx;
        height: 36rpx;
        margin-right: 10rpx
    }
    .cart-checkbox .wx-checkbox-input{
        margin-right: 20rpx;
        width: 36rpx;
        height: 36rpx;
        border-radius: 18rpx;
        border: 1px solid #c0c0c0;
        box-sizing: border-box;
        &.wx-checkbox-input-checked {
            background: #070707;
            border: 1px solid #070707;
        }
    }

    .goods-image{
        background-color: #ccc;
        width: 200rpx;
        height: 200rpx;
        flex-shrink: 0;
    }

    .goods-info{
        flex: 1;
        padding: 0 30rpx;
        height: 200rpx;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .goods-name{
            width: 100%;
            font-size: 26rpx;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .goods-color-size {
            display: inline-block;
            font-size: 24rpx;
            background-color: #ccc;
            color: #888;
            padding: 6rpx 40rpx 6rpx 10rpx;
            border-radius: 6rpx;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 280rpx;
            position: relative;
        }

        .goods-color-size::after{
            content: "";
            display: inline-block;
            width: 10rpx;
            height: 10rpx;
            border-right: 2rpx solid #888;
            border-bottom: 2rpx solid #888;
            position: absolute;
            top: 16rpx;
            right: 14rpx;
            transform: rotate(45deg);
        }

        .goods-price {
            font-size: 30rpx;
            font-weight: bold;
            color: #fd7304;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .goods-num-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 180rpx;
            border: 1px solid #888;
            line-height: 1;
            color: #333;
            font-size: 26rpx;
            border-radius: 4rpx;
            .btn{
                width: 32rpx;
                height: 32rpx;
            }
            .btn-left {
                border-right: 1px solid #aaa;
            }
            .btn-right {
                border-left: 1px solid #aaa;
            }
        }
    }
}

// 购物车商品项2样式
.cart-item-2{
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 30rpx;
    border-radius: 6rpx;
    overflow: hidden;
    padding: 20rpx 0 20rpx 20rpx;

    .cart-header {
        display: flex;
        align-items: center;
        margin-bottom: 20rpx;

        .shop-name{ 
            position: relative;
        }
        .shop-name::after{
            position: absolute;
            top: 18rpx;
            right: -30rpx;
            content: '';
            width: 10rpx;
            height: 10rpx;
            display: inline-block;
            border-top: 2rpx solid #888;
            border-right: 2rpx solid #888;
            transform: rotate(45deg);
        }
    }


    .goods-item {
        display: flex;
        align-items: center;
        margin-bottom: 20rpx;
    }

    .cart-checkbox {
        display: inline-block;
        width: 40rpx;
        height: 40rpx;
        line-height: 40rpx;
        padding: 0;
        margin-right: 10rpx;
        box-sizing: border-box;
    }
    .cart-checkbox .wx-checkbox-input{
        margin-right: 20rpx;
        width: 40rpx;
        height: 40rpx;
        box-sizing: border-box;
        border-radius: 20rpx;
        border: 1px solid #c0c0c0;
        box-sizing: border-box;
        &.wx-checkbox-input-checked {
            background: #070707;
            border: 1px solid #070707;
        }
    }

    .goods-image{
        background-color: #ccc;
        width: 200rpx;
        height: 200rpx;
        flex-shrink: 0;
    }

    .goods-info{
        flex: 1;
        padding: 0 30rpx;
        height: 200rpx;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .goods-name{
            width: 100%;
            font-size: 26rpx;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .goods-color-size {
            display: inline-block;
            font-size: 24rpx;
            background-color: #ccc;
            color: #888;
            padding: 6rpx 40rpx 6rpx 10rpx;
            border-radius: 6rpx;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 280rpx;
            position: relative;
        }

        .goods-color-size::after{
            content: "";
            display: inline-block;
            width: 10rpx;
            height: 10rpx;
            border-right: 2rpx solid #888;
            border-bottom: 2rpx solid #888;
            position: absolute;
            top: 16rpx;
            right: 14rpx;
            transform: rotate(45deg);
        }

        .goods-price {
            font-size: 30rpx;
            font-weight: bold;
            color: #fd7304;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .goods-num-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 180rpx;
            border: 1px solid #888;
            line-height: 1;
            color: #333;
            font-size: 26rpx;
            border-radius: 4rpx;
            .btn{
                width: 32rpx;
                height: 32rpx;
            }
            .btn-left {
                border-right: 1px solid #aaa;
            }
            .btn-right {
                border-left: 1px solid #aaa;
            }
        }
    }
}