
.header {
    height: 338rpx;
    background-color: #3d3d3d;
    padding: 32rpx 50rpx 0 50rpx;

    .header-box {
        background-image: linear-gradient(#f54f4f, #eeb7b7);
        height: 100%;
        border-top-left-radius: 20rpx;
        border-top-right-radius: 20rpx;
        box-shadow: 5px -2px 5px #000;
        padding: 32rpx 32rpx 0 32rpx;
        box-sizing: border-box;
        overflow: hidden;

        .header-border {
            border: 1px solid #eee;
            height: 100%;
            border-top-left-radius: 20rpx;
            border-top-right-radius: 20rpx;
            padding: 30rpx 20rpx;
        }
    }
    .avatar {
        width: 136rpx;
        height: 136rpx;
        border-radius: 50%;
        overflow: hidden;
        border: 8rpx solid #ecc89e;
        box-sizing: border-box;
    }

    .nick-name {
        font-size: 32rpx;
        color: #333;
        margin-left: 22rpx;
        overflow: hidden;

        .user-name {
            max-width: 200rpx;
            text-align: left;
        }
    }
    .member-label {
        font-size: 24rpx;
        color: #333;
        margin-left: 20rpx;
        image {
            height: 34rpx;
            width: 34rpx;
        }
        
    }
    .qrcode {
        width: 56rpx;
        height: 56rpx;
    }

    .card-no {
        margin-left: 22rpx;
        font-size: 24rpx;
        color: #333;
        text-align: left;
    }

    .member-progress-box {
        margin-top: 26rpx;
        .label-box {
            font-size: 24rpx;
            color: #333;
        }
        .progress-box {
            width: 100%;
            height: 12rpx;
            background-color: #fff;
            border-radius: 6rpx;
            margin-top: 6rpx;
            overflow: hidden;
            .current-box {
                // width: 50%;
                height: 100%;
                background-color: #fd7304;
                border-radius: 6rpx;
            }
        }
        .desc-box {
            font-size: 20rpx;
            color: #333;
            margin-top: 16rpx;
        }
    }
}

.rights-img {
    padding: 0 22rpx;
    .label {
        margin: 38rpx auto 18rpx;
        width: 412rpx;
        height: 68rpx;
        line-height: 68rpx;
        font-size: 34rpx;
        color: #884435;
        border-radius: 84rpx;
        background: #FFF1CA;
        text-align: center;
    }
}

.rights-desc-list {
    border-top: 20rpx solid #f3f3f3;
}

.desc-item {
    .desc-label {
        padding: 24rpx 30rpx 22rpx 8rpx;
        border-bottom: 1px solid #d7d7d7;
        font-size: 28rpx;
        color: #884435;
        margin-left: 24rpx;
        image {
            width: 32rpx;
            height: 32rpx;
            transition: all 0.5s;
        }
    }
    .icon-up {
        transform: rotate(-180deg);
    }
    .desc-content {
        box-sizing: border-box;
        padding: 18rpx 32rpx 30rpx 8rpx;
        margin-left: 24rpx;
        border-bottom: 1px solid #d7d7d7;
        transition: all 1s;

        .content-item {
            text-indent: 2em;
            font-size: 24rpx;
            color: #333;
        }
    }
}