.shop-list-container{
    width: 100%;

    .fixed-top{
        width: 100%;
        height: 226rpx;
    }

    .header{
        width: 100%;
        height: 102rpx;
        color:#ffffff;
        font-size: 24rpx;
        text-align: center;
        background: #000;
        .location-icon{
            width: 40rpx;
            height: 40rpx;
            vertical-align: top;
        }
        .update-address{
            text-decoration: underline;
        }
        .locate-btn{
            display: inline-block;
            font-size: 24rpx;
            border: none;
            padding: 0;
            margin: 0;
            height: 40rpx;
            min-height: 0;
            line-height: 40rpx;
            color: #FFF;
            &::after{
                  border: none
            }
      }
    }

    .region-box{
        font-size: 24rpx;
        padding: 21rpx 36rpx;
        .icon{
            width: 29rpx;
            height: 29rpx;
        }
    }



    // --------门店搜索---------
    $searchInputH:82rpx;
    $searchIconSize:28rpx;
    .store-search{
        position: relative;
        margin:21rpx 36rpx; 
        .store-search-input{
            width: 100%;
            height: $searchInputH;
            line-height: $searchInputH;
            padding: 0 80rpx 0 37rpx;
            font-size: 28rpx;
            color: #808080;
            border:1px solid #808080;
            box-sizing: border-box;
        }
        .search-icon{
            position: absolute;
            top:15rpx;
            right:26rpx;
            width: $searchIconSize;
            height: $searchIconSize;
            padding: 15rpx;
            color: #808080;
        }
    }

    // --------门店列表——-------
    .store-list{
        border-top:1px solid #f2f2f2;
        .store-item{
            font-size: 28rpx;
            color:#1b1b1b;
            padding: 30rpx 36rpx;
            margin-bottom: 30rpx;
            border-top:1px solid #f2f2f2;
            box-sizing: border-box;
            box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.2);
            &:first-child{
                border-top: none;
            }
            .store-item-info{
                >view{
                    line-height: 48rpx;
                }
                .store-name{
                    font-size: 30rpx;
                    font-weight: bold;
                }
            }
            .store-item-btn{
                width: 200rpx;
                text-align: right;
                .store-detail-btn{
                    width: 170rpx;
                    height: 50rpx;
                    line-height: 50rpx;
                    font-size: 26rpx;
                    color: #808080;
                    margin: 0;
                    text-align: center;
                    border:1px solid #808080;
                }
                .current-shop-btn{
                    width: 170rpx;
                    height: 50rpx;
                    line-height: 50rpx;
                    font-size: 26rpx;
                    color: #FD7304;
                    margin: 0;
                    text-align: center;
                    border:1px solid #FD7304;
                }
                .navigator-hover{
                    background: transparent;
                    opacity:1 ;
                }
            
            }
        }
        .no-datas-prompt{
            color: #333;
            text-align: center;
            font-size: 32rpx;
            margin-top: 250rpx;
        }
    }

}

// 定位失败
#locate-fail{
    text-align: center;
    image{
          display: block;
          width: 296rpx;
          height: 296rpx;
          margin: 0 auto;
    }
    .locate-fail-text{
          font-size: 36rpx;
          color:#CC0000; 
          margin: 18rpx 0;
    }
    .locate-prompt{
          color:#999999;
          font-size: 30rpx;
          text{
                display: block;
          }
    }
    .locate-btn-box{
          margin-top: 80rpx;
          .locate-btn{
                display: inline-block;
                width: 264rpx;
                font-size: 28rpx;
                height:72rpx ;
                color: #F39800;
                border:1px solid #F39800;
                line-height: 72rpx;
                background-color: #ffffff;
                &::after{
                      border: none
                }
          }
          .open-setting-btn{
                margin-right: 40rpx;
          }
    }
}