.shop-list-container{
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);

    .fixed-area{
        width: 100%;
        // height: 226rpx;
        padding-bottom: 10rpx;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #f6f6f6;
    }

    .header{
        width: 100%;
        height: 102rpx;
        color:#ffffff;
        font-size: 24rpx;
        text-align: center;
        background: #000;
        .location-icon{
            width: 40rpx;
            height: 40rpx;
            vertical-align: top;
        }
        .update-address{
            text-decoration: underline;
        }
        .locate-btn{
            display: inline-block;
            font-size: 24rpx;
            border: none;
            padding: 0;
            margin: 0;
            height: 40rpx;
            min-height: 0;
            line-height: 40rpx;
            color: #FFF;
            &::after{
                border: none
            }
      }
    }

    .search-box{
        position: relative;
        margin: 10rpx 36rpx; 

        .store-search-input{
            width: 100%;
            height: 60rpx;
            line-height: 60rpx;
            padding: 0 120rpx 0 30rpx;
            font-size: 28rpx;
            color: #808080;
            border: 1px solid #808080;
            box-sizing: border-box;
            border-radius: 30rpx;
        }
        .search-icon{
            position: absolute;
            top: 0;
            right: 0;
            width: 40rpx;
            height: 40rpx;
            padding: 10rpx 30rpx;
        }
    }

    .shop-list{
        padding: 10rpx 32rpx 0;

        .shop-item{
            font-size: 28rpx;
            color:#1b1b1b;
            padding: 30rpx 36rpx;
            margin-bottom: 30rpx;
            box-sizing: border-box;
            box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.2);
            border-radius: 10rpx;

            .shop-name {
                font-size: 30rpx;
                font-weight: bold;
            }

            .shop-address {
                font-size: 22rpx;
            }

            .shop-distance {
                font-size: 22rpx;
                font-weight: bold;
            }

            .shop-business-hour {
                font-size: 22rpx;
            }

            .shop-btn{
                width: 200rpx;
                .navigator-btn{
                    width: 170rpx;
                    height: 50rpx;
                    line-height: 50rpx;
                    font-size: 26rpx;
                    color: #fff;
                    text-align: center;
                    background: #f80707;
                    border-radius: 25rpx;
                }            
            }
        }
        .no-datas-prompt{
            color: #333;
            text-align: center;
            font-size: 32rpx;
            margin-top: 250rpx;
        }
    }

}