page {
    height: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.category-container {
    height: 100%;
    display: flex;
}

.first-cate {
    height: 100%;
    background-color: #f5f5f5;
    width: 180rpx;
    font-size: 26rpx;
    text-align: center;
    color: #666;

    .cate-item {
        height: 100rpx;
        line-height: 100rpx;
    }

    .current-cate {
        background-color: #fff;
        font-size: 28rpx;
        font-weight: bold;
        color: #333;
        position: relative;
    }
    .current-cate::before {
        position: absolute;
        content: '';
        display: block;
        width: 8rpx;
        height: 34rpx;
        background-color: #FB592C;
        top: 50%;
        left: 0;
        margin-top: -17rpx;
    }
}

.second-cate {
    height: 100%;
    overflow-y: auto;
    flex: 1;
    box-sizing: border-box; 

    .second-cate-scroll {
        height: 100%;
        padding: 20rpx 0;
        box-sizing: border-box;
    }

    .cate-banner {
        background-color: #FB592C;
        border-radius: 6rpx;
        height: 100rpx;
        color: #fff;
        text-align: center;
        line-height: 100rpx;
        margin: 0 20rpx;
    }

    .cate-item {
        box-shadow: -6px 6px 9px -14rpx #eee;
        margin: 30rpx 20rpx 30rpx 20rpx;
        border-radius: 8rpx;
        padding: 20rpx;

        .title {
            font-size: 26rpx;
            margin-bottom: 20rpx;
        }
    }

    .third-cate {
        display: grid;
        grid-template-columns: repeat(3, 130rpx);
        justify-content: space-between;

        .third-cate-item {
            font-size: 24rpx;
            margin-bottom: 20rpx;
            text-align: center;
        }
        .item-image {
            width: 130rpx;
            height: 130rpx;
            background-color: #f5f5f5;
        }
        .item-name {
            width: 130rpx;
        }
    }
}