.carousel-box {
    .swiper-item {
        width: 100%;
        height: 100%;
        color: #fff;
    }
    .screen-A {
        background-color: #2782d6;
    }
    .screen-B {
        background-color: #D65D62;
    }
    .screen-C {
        background-color: #B88FD6;
    }
    .screen-D {
        background-color: #A0D684;
    }
}