.favorites-container {
    padding-bottom: 110rpx;
}

.header {
    font-size: 28rpx;
    padding: 20rpx;

    .goods-num {
        color: #F80707;
    }
}

.footer {
    height: 100rpx;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    // opacity: 0.6;
    font-size: 26rpx;
    padding: 0 20rpx;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;

    .cancel-btn {
        height: 50rpx;
        line-height: 50rpx;
        background-color: #F80707;
        color: #fff;
        padding: 0 16rpx;
        border-radius: 6rpx;
    }
}

.movable-area {
    width: 750rpx;
    height: 240rpx;
    margin-bottom: 20rpx;
}


.movable-view {
    width: 850rpx;
    height: 240rpx;

    .cancel-btn {
        width: 100rpx;
        height: 240rpx;
        line-height: 240rpx;
        background-color: #F80707;
        font-size: 24rpx;
        color: #fff;
        text-align: center;
    }
}


// 复选框样式
.cart-checkbox {
    width: 40rpx;
    height: 40rpx;
    margin-right: 10rpx;
}
.cart-checkbox .wx-checkbox-input{
    margin-right: 20rpx;
    width: 40rpx;
    height: 40rpx;
    border-radius: 50%;
    box-sizing: border-box;
    &.wx-checkbox-input-checked {
        background: #070707;
    }
}
.goods-item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20rpx 0 20rpx 20rpx;
    width: 750rpx;
    height: 240rpx;
    box-sizing: border-box;
}
.goods-image{
    background-color: #f5f5f5;
    width: 200rpx;
    height: 200rpx;
    flex-shrink: 0;
}
.goods-info{
    flex: 1;
    width: 0;
    padding: 0 30rpx;
    height: 200rpx;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .goods-name{
        width: 100%;
        font-size: 26rpx;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .goods-color-size {
        font-size: 24rpx;
        color: #888;
        border-radius: 6rpx;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    .goods-price {
        font-size: 30rpx;
        font-weight: bold;
        color: #F80707;
        width: 100%;
    }
    .goods-cut-price {
        font-size: 22rpx;
        color: #F80707;
        border: 1px solid #F80707;
        height: 40rpx;
        line-height: 40rpx;
        padding: 0 20rpx;
        border-radius: 20rpx;
        border-bottom-left-radius: 0;
        margin-left: 20rpx;
    }
}