.my-container{
    line-height: 1;
  
    .my-info{
      height: 254rpx;
      display: flex;
      color: #fff;
      position: relative;
  
      .info-bg{
        width: 100%;
        height: 254rpx;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
  
      .info-l{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 192rpx;

        .bg-img{
          width: 120rpx;
          height: 120rpx;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
  
          open-data{
            height: 120rpx;
            width: 120rpx;
          }
  
        }
      }
  
      .info-r{
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name{
          font-size: 32rpx;
          margin-top: 20rpx;
        }

        .point-box {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .box-l {
                display: flex;
                align-items: center;
                font-size: 20rpx;
            }

            .box-r {
                border: 1px solid #fff;
                opacity: 0.51;
                font-size: 24rpx;
                height: 49rpx;
                width: 136rpx;
                line-height: 49rpx;
                text-align: center;
                border-radius: 6rpx;
                margin-right: 32rpx;
            }

        }

        .member-label{
            font-size: 20rpx;
        }
  
        .grow-value-total{
          width: 188rpx;
          height: 6rpx;
          background-color: #888;
          border-radius: 3rpx;
          box-sizing: border-box;
          margin-right: 16rpx;
  
          .grow-value-current{
            width: 0;
            height: 6rpx;
            background-color: #fff;
            border-radius: 3rpx;
            max-width: 100%;
            opacity: 1;
          }
        }

      }
        
        .qr-code{
          width: 44rpx;
          height: 44rpx;
          background-color: #fff;
          border-radius: 6rpx;
          box-sizing: border-box;
          text-align: center;
          padding: 2rpx;
          position: absolute;
          top: 32rpx;
          right: 32rpx;
          image{
            width: 39rpx;
            height: 39rpx;
          }
        }
    }

    .member-banner {
        height: 91rpx;
        margin: 33rpx 32rpx 0;
        border-radius: 6rpx;
        position: relative;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bg {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .title {
            font-size: 26rpx;
            margin-left: 49rpx;
            text {
                font-size: 30rpx;
                font-style: italic;
                opacity: 0.8;
                font-weight: bold;
                color: #F8E2B2;
                margin-right: 6rpx;
            }
        }

        .btn {
            font-size: 20rpx;
            display: flex;
            align-items: center;
            margin-right: 51rpx;
            background: linear-gradient(270deg, #F8E2B2 0%, #FDF1D5 100%);
            color: #2A2944;
            height: 38rpx;
            line-height: 1;
            padding: 0 10rpx 0 20rpx;
            border-radius: 19rpx;
            image {
                width: 30rpx;
                height: 30rpx;
            }
        }


    }
  
    .menu-list{
        margin: 32rpx 32rpx 0;
        background-color: #fff;
        border-radius: 6rpx;
      .header{
        display: flex;
        justify-content: space-between;
        padding: 32rpx 32rpx 16rpx;
        border-bottom: 1rpx solid #eee;
        .header-title{
          font-size: 28rpx;
          color: #333;
          font-weight: bold;
        }
        .more{
          display: flex;
          align-items: center;
          text{
            font-size: 24rpx;
            color: #999;
          }
          image{
            width: 40rpx;
            height: 40rpx;
          }
        }
      }
  
      .content{
        display: flex;
        flex-wrap: wrap;
        
        .menu-item{
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items:center;
          margin: 32rpx 0 32rpx;
          position: relative;
          image{
            width: 54rpx;
            height: 54rpx;
            margin-bottom: 16rpx;
          }
          .count-label{
            position: absolute;
            top: -3rpx;
            left: 50%;
            margin-left: 15rpx;
            height: 32rpx;
            line-height: 32rpx;
            background-color: #FB592C;
            color: #fff;
            min-width: 32rpx;
            text-align: center;
            border-radius: 50%;
            font-size: 20rpx;
          }
          text{
            font-size: 24rpx;
            color: #333;
          }
        }
      }
    }
  
    .my-service{
        background-color: #fff;
        border-radius: 6rpx;
        margin: 32rpx 32rpx 0;
      .title{
        padding: 32rpx 32rpx 16rpx;
        border-bottom: 1rpx solid #eee;
        font-size: 27rpx;
      }
  
      .content{
        display: flex;
        flex-wrap: wrap;
        
        .service-item{
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items:center;
          margin: 32rpx 0 32rpx;
          image{
            width: 54rpx;
            height: 54rpx;
            margin-bottom: 16rpx;
          }
          .stored-value-card{
            width: 70rpx;
          }
          text{
            font-size: 24rpx;
            color: #333;
          }
        }
        .last-item{
          text{
            color: #808080;
          }
        }
      }
    }
  
    .switch-account-btn{
      width: 100%;
      background-color: #fd7304;
      color: #fff;
      font-size: 37rpx;
      padding: 26rpx 0;
      text-align: center;
      margin-top: 30rpx;
    }
  }